* {
box-sizing: border-box;
}

body {
font-family: "Arial", sans-serif;
}
.scene {
width: 100%;
height: 100%;
min-height: 600px;
position: relative;
top: 0;
left: 0;
background-color: #ffffff;
transform: translate3d(0, 0, 0);
}

.animation-sloi-1 {
animation: animation_fg linear 30s infinite both;
background: url(https://raw.githubusercontent.com/Valtntina2/There/main/fon1.png)
0 100% repeat-x;
z-index: 1;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background-size: 100%;
}

.animation-sloi-2 {
animation: animation_fg linear 55s infinite both;

background: url(https://raw.githubusercontent.com/Valtntina2/There/main/fon2.png)
0 100% repeat-x;
z-index: 1;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background-size: auto 400px;
}

.animation-sloi-3 {
animation: animation_fg linear 75s infinite both;
background: url(https://raw.githubusercontent.com/Valtntina2/There/main/fon5%20(2).png)
0 100% repeat-x;
z-index: 1;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background-size: auto 200px;
}

.animation-sloi-4 {
animation: animation_fg linear 95s infinite both;
background: url(https://raw.githubusercontent.com/Valtntina2/There/main/fon3.png)
0 100% repeat-x;
z-index: 1;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background-size: auto 700px;
}

.animation-sloi-5 {
animation: animation_fg linear 120s infinite both;
background: url(https://raw.githubusercontent.com/Valtntina2/There/main/fon4.png)
0 100% repeat-x;
z-index: 1;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background-size: auto 1700px;
}

.animation-sloi-6 {
background: url(https://raw.githubusercontent.com/Valtntina2/There/main/obg1.png)
0 100% no-repeat;
z-index: 1;
position: absolute;
bottom: 100px;
left: 0;
width: 100%;
height: 100%;
background-size: auto 75px;
animation: animation_star linear 10s infinite both;
}

.animation-sloi-7 {
background: url(https://raw.githubusercontent.com/Valtntina2/There/main/obg2.png)
0 100% no-repeat;
z-index: 1;
position: absolute;
bottom: 100px;
left: 0;
width: 100%;
height: 100%;
background-size: auto 75px;
animation: animation_octopus linear 15s infinite both;
}
@keyframes animation_fg {
0% {
background-position: 2765px 100%;
}
100% {
background-position: 550px 100%;
}
}
@keyframes animation_star {
0% {
background-position: -300px 100%;
}
100% {
background-position: 2000px 100%;
}
}
@keyframes animation_octopus {
0% {
background-position: -300px 100%;
}
100% {
background-position: 2000px 100%;
}
}
